@using Blog.Domain.Enums;
@using Blog.Service.DTOs;
@{
}

@model TagRequest

<div>
    @if (User.Identity is not null && User.IsInRole(RoleType.Admin.ToString()))
    {
        <form method="post" asp-controller="Tag" asp-action="CreateTag">
            <label asp-for="Name" class="form-label">@Html.LabelFor(x => x.Name)</label>
            <input asp-for="Name" class="form-control" />
            <input type="submit" class="btn btn-primary mt-3" />
        </form>
    }

    <br />
    <ul>
        @foreach (var tag in ViewBag.Tags)
        {
            <li>
                <p>@tag.Name</p>

                <a asp-controller="Tag" asp-action="TagDetails" asp-route-id="@tag.ID" class="btn btn-info" mt-3>Details</a>

            </li>
        }
    </ul>

</div>