@using Blog.Domain.Enums;
@using Blog.Service.DTOs;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<TagResponse>

<div>
    @if (User.Identity is not null && User.IsInRole(RoleType.Admin.ToString()))
    {
        <p>GKGKGJKDJKHGDJ</p>
    }

    <ul>
        @foreach (var tag in Model)
        {
            <li>
                <p>@tag</p>

                <a asp-controller="Tag" asp-action="Update" class="btn btn-info" mt-3>Update</a>
                <a asp-controller="Tag" asp-action="Remove" class="btn btn-danger mt-3">delete</a>

            </li>
        }
    </ul>

</div>