@using Blog.Domain.Enums;
@using Blog.Service.DTOs;
@{
    var request = new TagRequest();
}

@model IEnumerable<TagResponse>

<div>
    @if (User.Identity is not null && User.IsInRole(RoleType.Admin.ToString()))
    {
        <form method="post" asp-controller="Tag" asp-action="Add">
            <label asp-for="@request.Name" class="form-label">@nameof(request.Name)</label>
            <input asp-for="@request.Name" class="form-control" />
            <input type="submit" class="btn btn-primary mt-3" />
        </form>
    }

    <ul>
        @foreach (var tag in Model)
        {
            <li>
                <p>@tag.Name</p>

                <a asp-controller="Tag" asp-action="TagDetails" class="btn btn-info" mt-3>Details</a>

            </li>
        }
    </ul>

</div>