@using Blog.Service.DTOs
@{
    string[] names = { "Debik", "Raul", "Arman" };
}

@model IEnumerable<ArticleResponse>

<div>
    <ul>
        @foreach (var article in names)
        {
            <li>
                <p>article</p>
            </li>
        }

    </ul>

</div>
