@using Blog.Service.DTOs
@{
}

@model IEnumerable<ArticleResponse>

<div>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <p>@article.Name</p>
                <p>@article.Content</p>
            </li>
        }
    </ul>
</div>

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <div>
        <a asp-controller="Home"
           asp-action="CreateArticle"
           class="btn btn-secondary mt-3">
            <div>Create article</div>
        </a>
    </div>
}

