@using Blog.Service.DTOs
@{
}

@model IEnumerable<ArticleResponse>

<div>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <p>@article.Name</p>
                <p>@article.Content</p>

                @if (User.Identity is not null && User.Identity.Name == article.User.Name)
                {
                    <a asp-controller="Comment"
                       asp-action="RemoveComment"
                       class="btn btn-danger mt-3">
                        Delete
                    </a>
                }

            </li>
        }
    </ul>
</div>

