@using Blog.Domain.Enums;
@using Blog.Service.DTOs
@{
}

@model IEnumerable<ArticleResponse>

<div>
    <ul>
        @foreach (var article in Model)
        {
            <li class="border-1">
                <p>@article.Name</p>

                <a asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.ID" class="btn btn-info mt-3">
                    Details
                </a>
            </li>
        }
    </ul>
</div>

<script>

</script>

