@using Blog.Domain.Enums;
@using Blog.Service.DTOs
@{
}

@model IEnumerable<ArticleResponse>

<div>
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>

    <ul>
        @foreach (var article in Model)
        {
            <li class="border-1">
                <p>@article.Name</p>

                <a asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.ID" class="btn btn-info mt-3">
                    Details
                </a>
            </li>
        }
    </ul>
</div>

