@using Blog.Domain.Enums;
@using Blog.Service.DTOs
@{
    string line = string.Empty;
}

@model IEnumerable<ArticleResponse>

<div>
    <form method="post" asp-controller="Home" asp-action="SearchByTag" class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="@line"/>
        <input type="submit" value="Search" class="btn btn-outline-primary"/>
    </form>

    <ul>
        @foreach (var article in Model)
        {
            <li>
                <p>@article.Name</p>

                <a asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.ID" class="btn btn-info mt-3">
                    Details
                </a>
            </li>
        }
    </ul>
</div>