@using Blog.Service.DTOs
@using Blog.Service.Models;
@{
}

@model RegistrationModel

<form method="post" asp-action="Registration" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger">
    
    </div>

    <label asp-for="Name" class="form-label">@Html.LabelFor(x => x.Name)</label>
    <input asp-for="Name" class="form-control"/>
    
    <label asp-for="Email" class="form-label">@Html.LabelFor(x => x.Email)</label>
    <input asp-for="Email" type="email" class="form-control"/>

    <label asp-for="Password" class="form-label">@Html.LabelFor(x => x.Password)</label>
    <input asp-for="Password" type="password" class="form-control"/>

    <label asp-for="RepeatedPassword" class="form-label">@Html.LabelFor(x => x.RepeatedPassword)</label>
    <input asp-for="RepeatedPassword" type="password"  class="form-control" />

    <input type="submit" value="Submit" class="btn btn-primary mt-3" />
</form>
